/*master styles*/

body{
    margin: 0px;
}
.container {
    display:    grid;
    grid-template-columns: 1fr;
}

/*Nav style*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;

}
.left-side{
    display: flex;
}
.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;

}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;

}
.nav-link-wrappers a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;

}
.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}


.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}
/*portfolio styles*/

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}  

.img-text-wrapper{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    text-align: center; 
    padding-left: 100px; 
    padding-right: 100px; 

}
/* .img-wrapper img{
    width: 50%;
    margin-bottom: 20px;
} */

.img-text-wrapper .subtitle{

   transition: 1s;
   color: transparent;
   font-weight: 600;
}

/* Needs to be more specific */
.img-text-wrapper:hover .subtitle{

    font-weight: 600;
    color: lightseagreen;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.profile-image-wrapper img{
    width: 100%;
}

.profile-content-wrapper{
    padding: 30px;
}
.profile-content-wrapper h1{
    color: orange;
    font: italic;
}
.profile-content-wrapper a {
    color: darkgoldenrod;
    /* font-size: 10px; */
}

.contact-wrapper{
    display: grid;
}

.social-menu ul {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #34465d;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(6) a:hover {
    background-color: purple;
}


.form {
    border: 3px solid #f1f1f1;
}
/* Full-width inputs */
.input[type=text],.input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
/* Set a style for all buttons */
.button {
   background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
/* Add a hover effect for buttons */
.button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    

}
  
/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}
  
  /* Add padding to containers */
.logcontainer {
    padding: 16px;
    text-align: center;
}
  
/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
}